/******************************** JUMBOTRON */
.jumbotron {
    background-color: #f0f0f0; /*grey*/
    border-top: 3px solid #4885ed; /*google blue*/
    border-bottom: 3px solid #4885ed; /*google blue*/
    font-family: 'Cabin Sketch';
}
.jumbotron h1 {
    color: #4885ed; /*google blue*/
}
.jumbotron p {
    color: #f4c20d; /*google yellow*/
}
.jumbotron img {
    border: 2px solid #f4c20d; /*google yellow*/
    display: inline-block;
    float: left;
}
/******************************** FONTS */
.list-group {
    font-size: 0.9rem;
}
#skills {
    margin: 0 auto;
}
/******************************** COLORS */
.course-work a:hover,
.my-websites a:hover {
    color: #db3236; /*google red*/
}
.course-work a,
.my-websites a {
    color: #f4c20d; /*google yellow*/
}
.social-media p,
.social-media-icon:hover {
    color: #db3236; /*google red*/
}
.screenshot img {
    border: 1px solid #f4c20d; /*google yellow*/
}
h4 {
    color: #4885ed; /*google blue*/
}
/********************************
SOCIAL MEDIA ICONS
*********************************/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?dg84my');
    src:    url('../fonts/icomoon.eot?dg84my#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?dg84my') format('truetype'),
        url('../fonts/icomoon.woff?dg84my') format('woff'),
        url('../fonts/icomoon.svg?dg84my#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-video-camera:before {
    content: "\e914";
}
.icon-binoculars:before {
    content: "\e985";
}
.icon-cool:before {
    content: "\e9eb";
}
.icon-mail4:before {
    content: "\ea86";
}
.icon-google3:before {
    content: "\ea8a";
}
.icon-google-plus3:before {
    content: "\ea8d";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
    content: "\ead1";
}
.icon-git:before {
    content: "\eae7";
}
.social-media-icon {
    font-size: 1.25rem;
}
/********************************
FOOTER
*********************************/
#footer {
    background-color: #f0f0f0;
}
#home-link {
    color: #f4c20d; /*google yellow*/
}