body {
    background-image: url('../img/tree-141692_1920.jpg');
}

/******* BACKGROUND **********/
#wrapper {
    width: 348px;
    margin: 50px auto;
}

/******* CARD ****************/
.card {
    width: 320px;
    margin: 10px 10px 15px 10px;
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.5);
    font-family: "Times", serif;
    font-size: 12px;
    color: #333;
    background-color: #f0edea;
    text-align: justify;
    border-radius: 10px;
}
h3 {
    margin-left: 10px;
    font-size: 1.5em;
    text-align: center;;
}
.info {
    line-height: 1.25em;
    border-top: 1px solid #999;
}
ul {
    list-style: none;
    padding-left: 45px;
}
span {
    font-weight: bold;
}
#fun-fact {
    font-style: italic;
}

/******* MARGINS **************/
.info,
.info p,
.info ul {
    margin: 10px;
}
.info {
    padding: 0px 10px 10px 10px;
}
img {
    width: 280px;
    margin: 20px 20px 0px 20px;
}